##############################
## Folders                  ##
##############################
target

##############################
## Files                    ##
##############################
src/main/resources/jdbc.properties